{% extends 'index.html' %}

{% block title %}
Одежда
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Одежда 1</h3>
        <img src="/static/image/clothes1.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Одежда 2</h3>
        <img src="/static/image/clothes2.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Одежда 3</h3>
        <img src="/static/image/clothes3.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
</div>

{% endblock %}