{% extends 'index.html' %}

{% block title %}
Куртки
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Куртка 1</h3>
        <img src="/static/image/jacket1.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Куртка 2</h3>
        <img src="/static/image/jacket2.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Куртка 3</h3>
        <img src="/static/image/jacket3.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
</div>
{% endblock %}