{% extends 'index.html' %}

{% block title %}
Обувь
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Обувь 1</h3>
        <img src="/static/image/shoes1.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Обувь 2</h3>
        <img src="/static/image/shoes2.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <h3>Обувь 3</h3>
        <img src="/static/image/shoes3.jpg" class="col-12 col-md-6 20 img-fluid rounded-circle" alt="">
    </div>
</div>
{% endblock %}